@tailwind base;
@tailwind components;
@tailwind utilities;


.main-btn {
  @apply px-5 border-[1px] border-purple-bright rounded-md py-2 text-white font-semibold bg-purple-bright hover:bg-white hover:text-purple-bright duration-200 w-[6em] my-3;
}


@font-face {
    font-family: 'Instrument Sans';
    src: url('/src/assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900; /* Define the range of weights */
    font-stretch: 75% 125%; /* Define the range of width axis */
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Instrument Sans Italic';
    src: url('/src/assets/fonts/InstrumentSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900; /* Define the range of weights */
    font-stretch: 75% 125%; /* Define the range of width axis */
    font-display: swap;
  }

  #root {
    background-color: #FAFAFA;
  }

  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }